# DRAGON REAL STATES

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('housingdata.csv')
df.head()
# df.hist(bins=50, figsize=(20, 15))

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRAT,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
# df.describe()

# train test splitting

In [4]:
import numpy as np
def split_test_train(data,test_ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*test_ratio)
    test_data=shuffled[:test_set_size]
    train_data=shuffled[test_set_size:]
    return data.iloc[train_data],data.iloc[test_data]

In [5]:
train_set , test_set=split_test_train(df,0.2)
print(f"rows in test set={len(test_set)}\nrows in train set={len(train_set)}")

rows in test set=101
rows in train set=405

In [13]:
from sklearn.model_selection import StratifiedShuffleSplit
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_data,test_data in split.split(df,df['CHAS']):
    strat_test_set=df.loc[test_data]
    strat_train_set=df.loc[train_data]

In [11]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

In [14]:
strat_train_set['CHAS'].value_counts()

0    376
1     28
Name: CHAS, dtype: int64