In [1]:
import pandas as pd

In [9]:
df=pd.read_csv("/home/aadityakaushik/mine/vs/jupyter/dataset/spam.csv", encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [18]:
df.tail()

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [14]:
df.shape

(5572, 4)

In [17]:
df.pop('Unnamed: 4')
df.pop('Unnamed: 3')
df.pop('Unnamed: 2')

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
5567    NaN
5568    NaN
5569    NaN
5570    NaN
5571    NaN
Name: Unnamed: 3, Length: 5572, dtype: object

In [19]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [20]:
df['v1'].replace({'ham':0,'spam':1},inplace=True)

In [23]:
df.tail()

      v1                                                 v2
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

In [22]:
df=df.where((pd.notnull(df)),'')

In [25]:
X=df['v2']
y=df['v1']

In [26]:
print(X.head())
print(y.head())

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: v2, dtype: object
0    0
1    0
2    1
3    0
4    0
Name: v1, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [ ]:

X_train_feature=feature