In [4]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('~/system/vs/jupyter/dataset/data.csv')
df.head()

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [20]:
concepts=np.array(df)[:,:-1]
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [22]:
targets=np.array(df)[:,-1]
targets

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [42]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h=concepts[i].copy()
            break
        
    for i,val in enumerate(con):
        print(i)
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if specific_h[x] != val[x]:
                    specific_h[x]='?'
    print(specific_h)

In [43]:
train(concepts,targets)

0
1
2
3
['sunny' 'warm' '?' 'strong' '?' '?']